<div class="container">
    <div class="row mt-4">
        <div class="col-sm-4" *ngFor="let project of projects">
            <!-- <table class="table">
                <thead>
                    <tr>
                        <th>submissionId</th>
                        <th>studentName</th>
                        <th>contactNo</th>
                        <th>emailId</th>
                        <th>status</th>
                        <th>projectTitle</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let project of projects">
                        <td>{{project.submissionId}}</td>
                        <td>{{project.studentName}}</td>
                        <td>{{project.contactNo}}</td>
                        <td>{{project.emailId}}</td>
                        <td>{{project.status}}</td>
                        <td>{{project.projectTitle}}</td>
                        <td><button class="btn btn-primary" (click)="toggleView(project.submissionId)">More Details</button></td>
                    </tr>
                </tbody>
            </table> -->
            <!-- <div *ngFor="let project of projects">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">Project Title : {{project.projectTitle}}</h5>
                      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                  </div>
            </div> -->

            <div class="card mb-2">
                <div class="card-body">
                    <h5 class="card-title">Project Title : {{project.projectTitle}}</h5>
                    <p class="card-text">
                    <p>Project Id : {{project.submissionId}}</p>
                    <p>Student Name : {{project.studentName}}</p>
                    <p>Contact No : {{project.contactNo}}</p>
                    <p>Email Id : {{project.emailId}}</p>
                    <p>Status : {{project.status}}</p>

                    <div *ngIf="view.value">
                        <p>Start Date : {{project.startDate}}</p>
                        <p>End Date : {{project.endDate}}</p>
                        <p>Department : {{project.department}}</p>
                        <p>Course : {{project.course}}</p>
                        <p>Technologies : {{project.technologies}}</p>
                        <p>Is Group Project : {{project.isGroupProject}}</p>
                        <p>Group Members : {{project.groupMembers}}</p>
                        <p>Is Synopsis Submitted : {{project.isSynopsisSubmitted}}
                        </p>
                    </div>

                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" ngModel #view="ngModel" id="">
                        <label for="" class="form-check-label">More Details</label>
                    </div>

                </div>
            </div>


        </div>
    </div>
</div>
<!-- <div class="card">
    <div class="card-body">
      <h5 class="card-title">Project Title : {{project.projectTitle}}</h5>
      <p class="card-text">
        <p>Student Name : {{project.studentName}}</p>
        <p>Contact No : {{project.contactNo}}</p>
        <p>Email Id : {{project.emailId}}</p>
        <p>Status : {{project.status}}</p>
        <p>Start Date : {{project.startDate}}</p>
        <p>End Date : {{project.endDate}}</p>
        <p>Department : {{project.department}}</p>
        <p>Course : {{project.course}}</p>
        <p>Technologies : {{project.technologies}}</p>
        <p>Is Group Project : {{project.isGroupProject}}</p>
        <p>Group Members : {{project.groupMembers}}</p>
        <p>Is Synopsis Submitted : {{project.isSynopsisSubmitted}}
      </p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div> -->

<!-- submissionId: number
    studentName: string
    contactNo: string
    emailId: string
    status: string
    projectTitle: string
    startDate: string
    endDate: string
    department: string
    course: string
    technologies: string
    isGroupProject: boolean
    groupMembers: string
    isSynopsisSubmitted: boolean
    dateOfSubmission: string
    projectDescription: string
    gitHubUrl: string
    userId: number -->