<div class="container">
    <div class="d-flex jusstify-contenet-center">
        <div class="card">
            <div class="card-header">
                <h3>Project Name : {{project?.projectTitle}}</h3>
            </div>
        </div>
    </div>
</div>

<!-- submissionId: number
    studentName: string
    contactNo: string
    emailId: string
    status: string
    projectTitle: string
    startDate: string
    endDate: string
    department: string
    course: string
    technologies: string
    isGroupProject: boolean
    groupMembers: string
    isSynopsisSubmitted: boolean
    dateOfSubmission: string
    projectDescription: string
    gitHubUrl: string
    userId: number -->